* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

p {
    color: #555;
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: center;
}

h1,
h2,
h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #252525;
    text-align: center;
}

section:first-of-type :is(h1, p) {
    text-align: start;
}

/* header */

.header {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: .8rem 5rem;
}

.header a {
    color: #252525;
    text-decoration: none;
    display: inline-block;
    transition-property: background-color;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    transition-delay: .005s;
}

.header a,
button {
    padding: .8rem 1.2rem;
    border-radius: 2rem;
    border: none;
}

.header .btn-collapse {
    display: none;
}

.nav>.btn-close {
    display: none;
}

.nav a:hover {
    background-color: #eee;
}

.header .nav {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 1rem;
}

.nav a:nth-last-child(2) {
    margin-inline-start: auto;
}


button {
    background-color: #4b2aad;
    color: #eee;
    font-size: 1rem;
    opacity: .9;
    transition: transform opacity .3s;
}

button:hover {
    cursor: pointer;
    transform: scale(1.03);
    opacity: 1;
}

.header .brand {
    color: #4b2aad;
    font-size: 1.5rem;
    font-weight: 900;
}

/* main */

.main {
    padding: 5rem;
    width: 100vw;
}

.main section:first-child,
.section__flex {
    display: flex;
    gap: 2rem;
}

.main img {
    width: 35vw;
    border-radius: 5px;
    align-self: flex-start;
}

.main h1 {
    font-size: 3.1rem;
}

.main article p {
    margin: 2rem 0;
}

.main>section {
    margin-bottom: 6rem;
}

.main article {
    margin-bottom: 2rem;
}

section h2 {
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 1rem;
}

section h2+p {
    text-align: center;
}


/* card */
.cards {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 26vw;
    padding: 3rem 1rem;
    margin: 2rem 0;
    border: 1px solid #eee;
    border-radius: 5px;
}

.card :is(h3, p) {
    text-align: center;
}

.card .card__icon {
    display: block;
    width: 3rem;
    height: 3rem;
    margin: 0 auto;
}

.card .card__title {
    font-size: 1.1rem;
    margin: 1rem 0;
}

.main .card p {
    font-size: .9rem;
}

.section__flex {
    padding: 4rem 0;
    align-items: center;
    gap: 4rem;
}

.section__flex :is(h3, p) {
    text-align: start;
}

.comment> :nth-child(2) {
    margin: 2rem 0;
}

.comment img {
    width: 15vw;
    display: block;
    margin: auto;
}

.podia__account {
    background: #201445;
    padding: 4rem;
    border-radius: 10px;
}

.podia__account>* {
    color: white;
}

.podia__account button {
    display: block;
    margin: 2rem auto;
}

.footer {
    padding: 4rem 5rem;
    background: #f5efeb;
}

.footer section {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.footer a {
    color: #555;
}

.footer p {
    color: #252525;
}

.footer>p {
    margin-top: 3rem;
}


/* Responsive design */

@media only screen and (width <=740px) {
    .header {
        padding: 1rem;
    }

    .header .nav {
        display: none;
        position: absolute;
        height: 80vh;
        top: .5rem;
        left: .5rem;
        background: #eee;
        margin: 0 auto;
        border-radius: 5px;
        padding: 1rem;
        width: 95vw;
    }

    .header .nav a {
        display: block;
    }

    .header .nav-show {
        display: block;
    }

    .nav .btn-close {
        display: block;
        margin-inline-start: auto;
    }


    .nav a:nth-last-child(2) {
        margin-inline-start: initial;
    }

    .header .btn-collapse {
        display: block;
        margin-inline-start: auto;
    }

    .main {
        padding: 2rem;
    }

    .main h1 {
        font-size: 2rem !important;
    }

    .main p {
        font-size: 1rem !important;
    }

    .main h2 {
        font-size: 1.5rem !important;
    }

    .main :is(section, .section, .section__flex, .cards) {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }

    .main img {
        width: 80vw;
        margin: 0 auto;
    }

    .card {
        width: 75vw;
        padding: 1.5rem .5rem;
        margin: auto;
        border: 1px solid #eee;
        border-radius: 5px;
    }

    .footer{
        display: flex;
        width: 100vw;
        margin: 0;
        padding: 2rem;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .footer > section{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

}